@import '~assetConfig'

// styl
.layout-layout {
}

font-face(name, folder, weight='normal', style='normal')
  @font-face
    font-family: name
    src: url(folder unquote('/') name unquote('.eot') '?#iefix') format('embedded-opentype'), url(folder unquote('/') name unquote('.woff')) format('woff'), url(folder unquote('/') name unquote('.ttf')) format('truetype'), url(folder unquote('/') name unquote('.eot') unquote('#') name) format('svg');
    font-weight: unquote(weight)
    font-style: unquote(style)

font-face('FontAwesome', 'fonts')
