section.section.swatch-red-white
  .container
    .row
      .col-md-3.text-default
        .box-wrap.alignnone
          .box-round.box-big.flat-shadow
            .box-wrap.alignnone
              .box-round.box-big.flat-shadow
                .box-dummy
                  span.box-inner
                    img(src="img/mug.png" alt="")
      .col-md-9.text-default
        h1.bordered-header HTML5
        p.lead
          | Coming soon
