extends ./assets/layout.jade
block title
  title Page not found
block content
  section.section.swatch-red-white
    .container
      header.section-header.no-underline
        h1.headline.hyper.hairline Page not found!
      .text-center
        img(src='/img/404.png', alt='Page not found!')
  section.section.swatch-white-red.has-top
    .decor-top
      svg.decor(height='100%', preserveaspectratio='none', version='1.1', viewbox='0 0 100 100', width='100%', xmlns='http://www.w3.org/2000/svg')
        path(d='M0 100 L50 0 L100 100', stroke-width='0')
    .container
      header.section-header.underline.text-center
        h1.headline.super.hairline What now?
        p
          | Sorry, the page you are looking for cannot be found here. Head back to the home page and start from there
      .text-center
        a.btn.btn-primary.btn-lg.btn-icon-right.pull-center(href='index.html')
          | take me home
          .hex-alt.hex-alt-big
            i.fa.fa-home(data-animation='tada')
