extends ./assets/layout.jade
block title
  title Pellet
block content
  section.section.swatch-red-white
    .background-media(style="background-image: url(''); background-repeat: ; background-size: ; background-attachment: ; background-position: ; background-size: cover;")
      video.section-background-video(poster='', style='width: 100%; height: 100%;', loop='', autoplay='')
        source(type='video/mp4', src='http://theme-background-videos.s3.amazonaws.com/corporate.m4v')
        source(type='video/webm', src='')
        source(type='video/ogg', src='')
    .background-overlay(style='background-color:rgba(231,76,60,0.8)')
    .container
      header.section-header.underline
        h1.headline.hyper.hairline Pellet
        p.big Making isomorphic apps easy!
  section.section.swatch-white-red.has-top
    .decor-top
      svg.decor(height='100%', preserveaspectratio='none', version='1.1', viewbox='0 0 100 100', width='100%', xmlns='http://www.w3.org/2000/svg')
        path(d='M0 0 L100 100 L0 100', stroke-width='0')
    .container
      header.section-header.underline
        h1.headline.super.hairline Features
        p
          | Imagine an SEO friendly AngularJS, a framework that unifies your client &amp; server code into one codebase, a
          | rich and powerful component system, a reactive programing model, and much more.
        p Say hello to little pellet!
      .row
        ul.list-unstyled.row.box-list
          li.col-md-3.text-center.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='.0s')
            .box-round
              .box-dummy
              a.box-inner(href='isomorphic.html')
                img.svg-inject(src='/img/wayfarer.png', alt='Isomorphic', data-animation='')
            h3.text-center
              a(href='isomorphic.html') Isomorphic
            p.text-center
              | Isomorphic is all the craze, Pellet simplifies your client and server codebase by making them the same. Now all you need to do is built your RIA app and Pellet make sure any page can be rendered on the server and serialized to the client.
          li.col-md-3.text-center.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='.0s')
            .box-round
              .box-dummy
              a.box-inner(href='react.html')
                img.svg-inject(src='/img/react.png', alt='react', data-animation='')
            h3.text-center
              a(href='react.html') React
            p.text-center
              | Pellet uses React to render your markup so it's blazing fast. It also makes event handling and user interactions soo much easier.
          li.col-md-3.text-center.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='.0s')
            .box-round
              .box-dummy
              a.box-inner(href='nodejs.html')
                img.svg-inject(src='/img/node.png', alt='NodeJS', data-animation='')
            h3.text-center
              a(href='nodejs.html') NodeJS
            p.text-center
              | We all love JavaScript and now we can run our code on both the server and client. With Pellet and NodeJS you no longer have to run multiple stacks or languages, you can just run one isomorphic environment.
          li.col-md-3.text-center.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='.0s')
            .box-round
              .box-dummy
              a.box-inner(href='i18n.html')
                img.svg-inject(src='/img/multilanguage.png', alt='multilanguage', data-animation='')
            h3.text-center
              a(href='i18n.html') Multilanguage
            p.text-center
              | If you have ever worked with internationalization you know it can be complex. Pellet makes it a cinch with built in pluralization, i18n, automatically handling formatting date/time, currency, numbers and has great build/deploy tools.
          li.col-md-3.text-center.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='.0s')
            .box-round
              .box-dummy
              a.box-inner(href='seo.html')
                img.svg-inject(src='/img/seo.png', alt='SEO', data-animation='')
            h3.text-center
              a(href='seo.html') SEO
            p.text-center
              | Why do we have to sacrifice SEO for our RIA applications, or have to build complex fragment systems, or slow down the users first impression on first load? With Pellet, we do not need to sacrifice anything because any route is rendered as a static page, but can bootstrap into a full RIA application.
          li.col-md-3.text-center.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='.0s')
            .box-round
              .box-dummy
              a.box-inner(href='reactive-programming.html')
                img.svg-inject(src='/img/cogs.png', alt='FRP', data-animation='')
            h3.text-center
              a(href='reactive-programming.html') Reactive Programming
            p.text-center
              | Join all the cool kids and start using FRP to make your complex logic simple. Pellet offers a power full functional reactive programming library with a flexible event system.
          li.col-md-3.text-center.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='.0s')
            .box-round
              .box-dummy
              a.box-inner(href='webpack.html')
                img.svg-inject(src='/img/composer.png', alt='webpack', data-animation='')
            h3.text-center
              a(href='webpack.html') Webpack
            p.text-center
              | As important as having great code you need a flexible and powerful build/deployment system. Pellet uses a manifest based system and webpack to make your code deployment easy. It creates optimized modular packages, multiple bundles for devices and environments, and transpiler your es6, jsx, CSS, etc into CDN ready bundles.
          li.col-md-3.text-center.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='.0s')
            .box-round
              .box-dummy
              a.box-inner(href='abn-testing.html')
                img.svg-inject(src='/img/mug.png', alt='Cordova', data-animation='')
            h3.text-center
              a(href='abn-testing.html') A/B/N Testing
            p.text-center
              | Imagine running your own multi-variant testing inside your single page  application without twisting your brain. Pellet lets you A/B test anything from components, copy and logic. It is as simple as setting up a Pellet experiment or asking what that current variation is in your code.
          li.col-md-3.text-center.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='.0s')
            .box-round
              .box-dummy
              a.box-inner(href='scalable-architecture.html')
                img.svg-inject(src='/img/wayfarer.png', alt='Scalable Architecture', data-animation='')
            h3.text-center
              a(href='scalable-architecture.html') Scalable Architecture
            p.text-center
              | Pellet was built to support VEVO a company that last year was responsible for 40+ billion videos watched globally and served out a ton of pages in multi languages and devices. Now Pellet is running VEVO site and VEVO has seen upward of 2x from SEO boost over AngularJS/BromBone and a 6x in page load times. Nice!
          li.col-md-3.text-center.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='.0s')
            .box-round
              .box-dummy
              a.box-inner(href='native.html')
                img.svg-inject(src='/img/wayfarer.png', alt='Cordova/Native', data-animation='')
            h3.text-center
              a(href='native.html') Cordova/Native
            p.text-center
              | Let's face it, the world is not only about WEB, but other devices, so Pellet is setup to support other devices like TV's, Consoles, and Mobile.
          li.col-md-3.text-center.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='.0s')
            .box-round
              .box-dummy
              a.box-inner(href='flexible-date-architecture.html')
                img.svg-inject(src='/img/wayfarer.png', alt='Flexible Date Architecture', data-animation='')
            h3.text-center
              a(href='flexible-date-architecture.html') Flexible Date Architecture
            p.text-center
              | It's hard to manage the state of your data on the server and the client. So Pellet is built to help manage your data access layer's serialisation,  rehydrating data on the client and data flow/syncretization.
          li.col-md-3.text-center.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='.0s')
            .box-round
              .box-dummy
              a.box-inner(href='cutting-edge.html')
                img.svg-inject(src='/img/wayfarer.png', alt='Flexible Date Architecture', data-animation='')
            h3.text-center
              a(href='flexible-date-architecture.html') Cutting Edge
            p.text-center
              | All browsers are not equal. Why should we have to support old browsers or be restricted to use new technologies like ES6. Pellet solves this problem, by polyfilling the browsers and lets you transpile and pre/post process your code. Bring the future of the web to you now.
  section.section.swatch-red-white.has-top
    .decor-top
      svg.decor(height='100%', preserveaspectratio='none', version='1.1', viewbox='0 0 100 100', width='100%', xmlns='http://www.w3.org/2000/svg')
        path(d='M0 100 L100 0 L100 100', stroke-width='0')
    .container
      header.section-header.text-center.underline
        h1.headline.super.hairline How using Pellet?
      .col-md-12.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='.1s')
        #slider-flex2.flexslider(data-flex-speed='7000', data-flex-animation='slide', data-flex-directions='hide', data-flex-controls='show', data-flex-controlsalign='center')
          ul.slides
            li
              blockquote.fancy-blockquote
                .row
                  .col-md-12
                    p
                      | This is VEVO stuff.
                    small
                      | VEVO
                      cite(title='Source Title') Manager
            li
              blockquote.fancy-blockquote
                .row
                  .col-md-12
                    p
                      | This is other people in the world.
                    small
                      | World
                      cite(title='Source Title') Executive
